<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="class-detail-wrap">
    <table>
      <tr>
        <td>Class Name</td>
        <td>11H</td>
      </tr>
      <tr>
        <td>Current Teacher</td>
        <td>Heshan Thenura Kariyawasam</td>
      </tr>
      <tr>
        <td>Current Subject</td>
        <td>Combined Maths</td>
      </tr>
      <tr>
        <td>Period Time</td>
        <td>7.45-8.30</td>
      </tr>
      <tr>
        <td>Total Number of Students</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Present Students</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Absent Students</td>
        <td>5</td>
      </tr>
    </table>
  </div>

  <div class="time-table-warp">
    <h1>Time Table</h1>
    <ion-accordion-group>
      <ion-accordion value="monday">
        <ion-item slot="header" color="light">
          <ion-label>Monday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <table>
            <tr>
              <th>Subject</th>
              <th>Time</th>
              <th>Teacher</th>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td colspan="2">10.30-10.45</td>
            </tr>
          </table>
        </div>
      </ion-accordion>
      <ion-accordion value="tuesday">
        <ion-item slot="header" color="light">
          <ion-label>Tuesday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <table>
            <tr>
              <th>Subject</th>
              <th>Time</th>
              <th>Teacher</th>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td colspan="2">10.30-10.45</td>
            </tr>
          </table>
        </div>
      </ion-accordion>
      <ion-accordion value="wednesday">
        <ion-item slot="header" color="light">
          <ion-label>Wednesday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <table>
            <tr>
              <th>Subject</th>
              <th>Time</th>
              <th>Teacher</th>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td colspan="2">10.30-10.45</td>
            </tr>
          </table>
        </div>
      </ion-accordion>
      <ion-accordion value="thursday">
        <ion-item slot="header" color="light">
          <ion-label>Thursday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <table>
            <tr>
              <th>Subject</th>
              <th>Time</th>
              <th>Teacher</th>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td colspan="2">10.30-10.45</td>
            </tr>
          </table>
        </div>
      </ion-accordion>
      <ion-accordion value="friday">
        <ion-item slot="header" color="light">
          <ion-label>Friday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <table>
            <tr>
              <th>Subject</th>
              <th>Time</th>
              <th>Teacher</th>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Science</td>
              <td>7.45-8.30</td>
              <td>Teacher Name</td>
            </tr>
            <tr>
              <td>Interval</td>
              <td colspan="2">10.30-10.45</td>
            </tr>
          </table>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="student-container-wrap"></div>
</ion-content>
