<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <h1>School Manager</h1>
    <p>
      School Manager is an app developed for managing schools, created by the
      independent developer
    </p>
    <p>Heshan Thenura Kariyawasam</p>
    <h5>heshanthenura@protonmail.com</h5>
    <div class="links-wrap">
      <ion-icon name="logo-linkedin" size="large"></ion-icon
      ><ion-icon name="logo-twitter" size="large"></ion-icon>
      <ion-icon name="logo-instagram" size="large"></ion-icon>
      <ion-icon name="logo-github" size="large"></ion-icon>
    </div>
  </ion-card>
</ion-content>
