<ion-app>
  <ion-menu [type]="menuType" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home-sharp" class="icon-spacing"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/studentprofile">
            <ion-icon name="book-sharp" class="icon-spacing"></ion-icon>
            <ion-label>Student</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/classprofile">
            <ion-icon name="man-sharp" class="icon-spacing"></ion-icon>
            <ion-label>Class</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/teacherprofile">
            <ion-icon
              name="person-circle-sharp"
              class="icon-spacing"
            ></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/about">
            <ion-icon name="alert-circle-sharp" class="icon-spacing"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
