<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <div class="img-wrap">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
    </div>

    <ion-card-header>
      <ion-card-title>Heshan Thenura Kariyawasam</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button>Time Table</ion-button>
      <table>
        <tr>
          <td>Current Class</td>
          <td>9.30-10.45</td>
          <td>7A</td>
        </tr>
        <tr>
          <td>Next Class</td>
          <td>9.30-10.45</td>
          <td>11H</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
